/*Adrien MÉVEL, EdNitl, projet RePPOL*/
	/*Depuis css de interfaxim (https://github.com/TimotheAlbouy/Interfaxim) contenue dans le .xsl*/

/*polices*/



/*architecture générale*/
* {
	box-sizing: border-box;
}
body {
	background-color: #efe9e3;
	color: #1f0f7e/*#F2F2F2*/;
	font-size: 18pt;
	margin: 0;
	overflow: hidden;/*ATTENTION permet de bloquer le scroll nécessite une taille fixe aux articles pour permettre de les scroller*/
}
div.article_container{
	border: 2px solid #1f0f7e;
	margin: 2% 5%; /*50px;*/
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}
header {
	width: 100%;
	border-bottom: 2px solid #1f0f7e;
	display: flex;
	/*align-items: center;*/
	flex-wrap: wrap;
	height: fit-content;
}
div.logo {
	/*height: 100px;*//*version : height = controled by div.logo*/
	position: relative;
	/*margin: 20px;*//*version : height = controled by div.logo*/
}
div.logo:hover {
	background-color: #1f0f7e;
}
img.logo {
	/*height: 100%;*/ /*version : height = controled by div.logo*/
	height: 90px;
	margin: 40px 30px 30px 30px;
}
.nav_top {
	font-size: 21pt;
	border-left: 2px solid #1f0f7e;
	font-family: 'Source Code Pro', helvetica, sans-serif!important;
	font-variant: small-caps;
}
.nav_top ul {
	display: flex;
	padding: 0;
	height: 100%;

}
.nav_top ul li {
	color: #1f0f7e;
	/*padding: 49px 40px 0px 10px;important for proper display*/
	flex-grow: 1;
	flex-shrink: 1;
	max-width: 300px;
	text-align: center;
}
.nav_top ul li:hover {
	/*background-color: #efe9e3; /*première option, casse gueule*/
	/*border-left: 10px solid #1f0f7e;
	padding-left: 0;/*deuxième option, moche*/
	cursor: pointer;

}
.nav_top ul li a{
	text-decoration: none;
	color: inherit;
	padding: 49px 20px 0px 20px;/*important for proper display*/
	display: block;
	width: 100%;
	height: 100%;
}
.nav_top ul li:hover /*a*/{
	color: #efe9e3;
	background-color: #1f0f7e;
}
ul.nav_index {
	height: fit-content;
	display: none;
	z-index: 999;
	padding: 0;
	font-size: 19pt;
	transition: 0.3ms;
	position: absolute;
	/*left: -50px;*/
}
ul.nav_index li{
	display: flex!important;
	padding: 5px 0px;
	transition: 0.2ms;
	color: #efe9e3;
	/*position: relative;
	left: -10px;*/
}
.nav_top li:nth-child(4){
	min-width: 100px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 49px;/*important for proper display*/

}
.nav_top ul li:hover ul.nav_index {
	display: flex;
	flex-flow: column;
	min-width: 100px;
	background: inherit;
	color: #efe9e3;
}
.nav_top ul li ul.nav_index li:hover {
	color: #1f0f7e;
	background: #efe9e3;
}
.nav_top ul li ul.nav_index li a{
	padding: 0px;
}
div.links{
/*	border-left: 2px solid #1f0f7e;*/
	flex-grow: 1;
	display: grid;
	align-content: baseline;
	justify-content: right;
}
div.links *{grid-row: 1;}
div.links img, img.links{
	height: 32px;
	filter:invert(15%) sepia(28%) saturate(7429%) hue-rotate(243deg) brightness(47%) contrast(361%);
	margin: 2px;
}
a {
	text-decoration: none;
	color: #f26339/*#52b7c1*/;
	transition: 0.2s;
}
a:hover {
	text-decoration: underline;
}
/*
a:hover {
	color: #456;
	text-decoration: underline;
}
*/
h1 {
	text-align: right;
	margin-bottom: 40px;
	position: relative;
	font-size: 60pt;
	font-variant: small-caps;
	display: flex;
	flex-flow: column;
}
h2 {
	margin-bottom: 40px;
	font-variant: small-caps;
	font-size: 30pt;
	border-bottom: 1px solid #1f0f7e;
	margin-right: 5%;
	/*font-family: ambroise-std, serif;*/
	font-weight: 400;
	font-style: normal;
	/*color: #1f0f7e;*/
	/*-webkit-text-fill-color: transparent;*/
	/*-webkit-text-stroke: 1px #efe9e3;*/
}
h3 {
	font-variant: small-caps;
	margin-bottom: 40px;
	font-size: 20pt;
	/*font-family: ambroise-std, serif;*/
	font-weight: 400;
	font-style: normal;
}
h4 {
	margin-bottom: 40px;
	font-size: 20pt;
}
article {
	margin-left: 10%;
	margin-right: 10%;
	padding-right: 20px;
	position: relative;
	/*font-family: 'Times New Roman', serif;*/
	font-family: 'Segoe UI', helvetica, sans-serif;
	font-weight: lighter;
	scrollbar-color: #1f0f7e #efe9e3;/*might not always work*/
	scrollbar-width: thin;
	height: 600px;/*nécessaire pour le scroll laissant header out of it*/
	overflow: auto;/*nécessaire pour le scroll laissant header out of it*/
	width: 100%;
}
::-webkit-scrollbar-thumb{
	background-color: #efe9e3;
}
::-webkit-scrollbar-track{
	background-color: #1f0f7e;
}
::-webkit-scrollbar-button{
	display: hidden!important;
}
section {
	margin-bottom: 60px;
	/*border-bottom: solid 2px #0a1515;*/
	padding-bottom: 40px;
}
p {
	text-align: justify;
	word-break: normal;
	word-spacing: normal;
	word-wrap: break-word;
}
section.footer {
	border: none;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
footer{
	border-top: 2px solid #1f0f7e;
/*	display: flex;*/
	padding: 30px;
	margin: 0px 60px 0px 60px;
	min-width: 70%;
	justify-content: space-between;
	align-items: flex-start;
}
div.footer_icons{
	display: flex;
/*	justify-content: space-between;*/
	justify-content: center;
	width: 100%;
	/*padding: 0px 50px 30px 50px;*/
}
div.footer_legal{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
div.footer_logo{
	/*width: 230px;
	margin-left: 50px;
	margin-right: 50px;*/
}
div.footer_logo img{
	width: 100%;
}
img.top {/*la flèche going top of the page*/
	position:fixed;
	bottom:50px;
	right: 0;
	/*right:30px;*/
	z-index:99;
	padding:5px;
	width: 50px;
	font-size:14pt;
	filter: invert(100%);
	background-color: #e0f081;/*inversée cette couleur donne le bleu marine utilisé ailleurs*/
}
/*footer p {
	text-indent: 0;
}
footer div {
	padding-left: 60px;
	border-right: 1px solid #0a1515;
	padding-right: 60px;
}
footer div:last-child {
	border-right: none;
}
footer div li {
	display: inline-block;
	margin-right: 20px;
}*/


/*PAGE HOME*/
/*article#home, article#about p {
	/*text-indent: 60px;
}*/
/*section.home_buttons {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}
section.home_buttons button {
	margin: auto;
	padding: 20px;
	background: none;
	border-radius: 15px;
	border: 2px solid #efac18;
	box-shadow: 1px 1px 3px #000;
}
section.home_buttons a.button:hover button{
	color: #0A1515;
}
section.home_buttons a.button:hover button{
	text-decoration: none;
}*/
section.home{
	margin-left: 30%;
}
section.home h2{
	border-bottom: none;
}
/*section.home a{
	color: inherit;
}*/
a.button {
	margin: auto;
}
.ambroise_bold_empty{
	font-family: ambroise-std, serif;
	font-weight: 700;
	font-style: normal;
	color: #1f0f7e;
	-webkit-text-fill-color: #f26339;
	-webkit-text-stroke: 1px #1f0f7e;

}
.ambroise_bold_filled{
	font-family: ambroise-std, serif;
	font-weight: 400;
	font-style: normal;
	color: #1f0f7e;
}
.ambroise_bold_italic{
	font-family: ambroise-std, serif;
	font-weight: 700;
	font-style: italic;
	color: #1f0f7e;
	-webkit-text-fill-color: #f26339;
	-webkit-text-stroke: 1px #1f0f7e;
}
.home_img{
	position: absolute;
	bottom: -100px;
	left: -100px;
	width: 40%;
}
section.project_members{
	display: grid;
	gap: 10px;
}
div.project_member{
	/*border: 1px solid #efe9e3;*/
	display: flex;
	max-width: 392px;
	height: fit-content;
}
div.project_member img{
	border: 1px solid #efe9e3;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin: 10px 30px 10px 10px;
}
div.project_member a{
	text-indent: 0;
}
div.project_member p{
	text-indent: 0!important;
	margin-right: 10px;
	word-break: normal;
}
span.name{
	color: #f26339;
	font-size: 20pt;
}
span.resp{
	font-style: italic;
}
section.lab {
	border-top: 1px solid #1f0f7e;
	text-align: left;
	color: #1f0f7e !important;
	font-size: 21pt;
}
section.sponsor{
	border-top: 1px solid #1f0f7e;
	border-bottom: 1px solid #1f0f7e;
	color: #1f0f7e !important;
	font-size: 21pt;
}
section.sponsor p, section.sponsor h2{
	text-align: right
}

/*PAGE ABOUT*/
article#about a article#home a {
	/*margin: 60px;*/
	color: #f26339;
}
section.project_left {
	float: left;
	width: 65%;
	margin: 5px 60px 0px 0px ;
}
section.project_right {
	float: left;
	width: 30%;
	margin: 5px;
}
/*PAGE LEGALS*/
article#legals{
	margin-left: 5%;
}
article#legals section{
	margin: 60px 30px;
	padding-bottom: 40px;
	border-right: 1px solid #1f0f7e;
	border-bottom: 1px solid #1f0f7e;
	height: fit-content;
}



/*PAGE INDEX*/
article.index{
	display: flex;
	margin-left: 1%;
	margin-right: 2%;
}
section.index_prelist{
	position: sticky;
	top: 0;
	overflow: auto;
	scrollbar-width: thin;
	margin-bottom: 0;
}
section.index{
	margin-left: 30px;
	height: fit-content;
	border: none;
	width: 100%;
}
article.index h2 {
	position: sticky;
	top: 0;
	background-color: #efe9e3;
	z-index: 99;
	width: 100%;
	margin-top: 0;
	font-family: 'Source Code Pro', helvetica, sans-serif !important;
	font-weight: 400;
}
article.index img.top{
	z-index: 0;
}
div.index_container {
	width: 100%;
	height: fit-content;
	display: inline-flex;
}
div.index {
	/*width: 30%;*/
	font-size: 16pt;
	position: relative;
	border-right: 2px solid #0a1515;
	border-bottom: 2px solid #0a1515;
	border-radius: 15px;
	transition: 0.2s;
	/*margin_left: 10px;
	max-height: 400px;
	overflow: auto;*/
}
div.index:hover {
	border-color:#efac18;
}
div.index_unit {
	border: 2px solid #1f0f7e;
	border-top: none;
	border-left: none;
	margin-right:10px;
	height: fit-content;
	position: relative;
	padding-top: 20px;/*sert à empêcher le chevauchement de l'item ciblé par h2*/
}
div.index_unit h6 {
	font-size: 22pt;
}
div.index_unit ul {
	margin-left: 60px;
}
.index_prelist h3 {
	font-family: 'Source Code Pro', helvetica, sans-serif !important;
	font-weight: 400;
}
div.index h3 {
	font-size: 18pt;
	padding-left: 10px;
	transition: 0.2s;
}
div.index:hover h3 {
	color: #efac18;

}
div.index_unit .expan {
	/*color: #0a1515!important;*/
}
ul.index {

}
ul.index a{
	transition: 0.2s;
}
/*
ul.index a:hover {
	color: #932311;
}*/
/*map/index _ place index*/
div.place_section_container{/*contient les sections de place_index, identique à section.index*/
	width: 100%;
	/*margin-left: 30px;*/
	height: fit-content;
	border: none;
}
.place_index_tab{ /*selecteur*/
	height: min-content;
	width: 100%;
	position: sticky;
	top: 0;
	display: flex;
	flex-wrap: nowrap;
	padding: 0;
	margin: 0;
	z-index: 99;
}
.placetablinks:hover{
	background-color: #1f0f7e;
	color: #efe9e3;
}
.place_index_tab button.active{
	background: linear-gradient(70deg, #1f0f7e, #efe9e3);
	color: #efe9e3;
	font-weight: 700;
}
.placetablinks{/*bouton*/
	/*position: sticky;
	top: 0;*/
	background-color: #efe9e3;
	z-index: 99;
	width: 100%;
	margin-top: 0;
	font-family: 'Source Code Pro', helvetica, sans-serif !important;
	font-weight: 400;
	/*margin-bottom: 40px;*/
	font-variant: small-caps;
	font-size: 30pt;
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: 1px solid #1f0f7e;
	/*margin-right: 5%;*/
	outline: none;
	cursor: pointer;
	color: #1f0f7e;
	padding: 0;
}
.placetabcontent{/*les onglets*/
	display: none;
	margin-left: 30px;
}
img.index_map {
	width: 100%;
}
/*calendar _ date index*/
section.calendar{
	width: 50%;
	position: sticky;
	top: 0;
	overflow: auto;
	scrollbar-color: #1f0f7e #efe9e3;/*might not always work*/
	scrollbar-width: thin;
	margin-bottom: 0;
}
div.c_tabs {/*contener des tabs des dates*/
	max-width: 100%;
	border: 1px solid #1f0f7e;
	border-collapse: collapse;
	display: grid;
	grid-template-rows: min-content 1fr;

}
div.tabs_nav{/*contener des boutons de nav tabs des dates*/
	display: flex;
	border: 1px solid #1f0f7e;
	border-collapse: collapse;
	position: sticky;
	top: 47px;
	background-color: #efe9e3;

}
.c_tabs_b {/*les boutons de chaque tab d'année*/
	border: none;
	background-color: transparent;
	flex-basis: 100%;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	cursor: pointer;
	border-radius: 0px!important;
}
.c_tabs_b:not(:last-child, .c_tabs .active_tab){
	border-right: 1px solid #1f0f7e;
}
.active_tab {/*le bouton de la tab active*/
	background: linear-gradient(70deg, #1f0f7e, #efe9e3);
	color: #efe9e3;
	font-weight: 700;
}
div.tabs_content{/*tabs de contenu 1 par an*/
	grid-area: 2 / 1 / 3 / 2;
	display: none;
}
.tabs_content table {
	border-collapse: collapse;
}
.tabs_content td {
	padding: 5px;
}
.tabs_content a {
}

.tabs_content a.date_valid:hover {
	color: #efe9e3!important;
}
div.active_tabs_content{/*le tab de date actif*/
}
.date_valid{
	color: #f26339;
}


/*PAGE TRANSCRIPTION INTERACTIVE : */	
article#transcription_pedago{
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
	display: flex;
}			
.tabs {
	/*overflow: auto;
	border: 1px solid darkgrey;
	background-color: gainsboro;*/
	margin: 0;
	/*position: fixed;
	left: 0;*/
	/*position: fixed;
	left: 0px;
	max-width: 30%;*/
	display: flex;
	flex-shrink: 0;
	flex-flow: column;
	position: sticky;
	top: 0;
	left: 0;
	/*overflow-y: scroll;*/
	overflow-x: hidden;
	height: inherit;
	scrollbar-width: thin;
	width: 7%;
	z-index: 45;
	/*background-color: #f26339;*/
}
.tabs button {
	background-color: #efe9e3;
	padding: 10px;
	/*float: left;*/
	border: none;
	/*border-radius: 15px;*/
	outline: none;
	cursor: pointer;
	transition: 0.2s;
	font-size: 1em;
	display: inline-block;
	color: inherit;
}
.tabs button:hover {
	color: #f26339;/*#666*/
}
.tabs button.active {
}
.section-wrapper {
	position: relative;
	/*width: 90%;*/
	height: fit-content;
	/*border: 1px solid #1f0f7e;*/
	margin: 10px 0px;
	flex-shrink: 1;
}
.section-wrapper img{
	border: 1px solid #1f0f7e;
}
div.zone {
	position: absolute;
}
div.zone:hover{
	border: 4px solid #efe9e3/*#806926*/;
	border-radius: 15px;
}
div.zone span { /*la version d'origine écrivait "div.zone &gt; span" &gt; étant >, inutile et causant des erreurs si la feuille css n'est pas écrite via xsl */
	position: relative;
	overflow-y: auto;
	visibility: hidden;
	/*background-color: white;
	font-family: Georgia, serif;*/
	color: #0a1515;
	background-color: #efe9e3 /*fcead4*//*#ddcea0*/;
	border-radius: 15px;
	font-size: 36pt;
}
.zone:hover span {
	visibility: visible;
}
/*Ajout AM pour version travail, permet de voir les zones découpées.
	.zone:hover {
	background-color:#000;
	}*/	

/* Original version (ov)
.ov {
	color: crimson;
}

/* Regularized version (rv) 
.rv {
	color: mediumseagreen;
}

/* Not shown (ns) 
.ns {
	display: none;
}*/
/*STYLE POUR DETAILS ET SUMMARY*/
summary {
	transition: all .2s ease;
	/*color: #f26339;*/
	margin-left: 5px;
	text-decoration-color: #f26339 ;

}
summary::marker {
	color: #f26339;
}
summary:hover{
	margin-left: 60px; /*Gris translucide*/
	text-decoration: underline;
	transition: all .2s ease;
	text-decoration-color: #f26339 ;
	
}
details {
	cursor: pointer;
	/*border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-radius: 15px;
	box-shadow: 10px 10px 10px black;*/
	/*margin-left: 60px;*/
}
div.comment {
	/*margin-top: 60px;
	margin-bottom: 60px;
	border-radius: 15px;*/
	margin: 60px;
	border: 1px solid #1f0f7e;
	/*border-top: none;*/
	/*border-left: none;*/
}
	/*class créées depuis attributs*/
.pape_strikethrough {
	text-decoration: line-through;
}
.pape_overstrike {
	text-decoration: line-through;
}
.pape_above {
	position: relative;
	bottom: 15px;
}
.pape_below {
	position: relative;
	top: 15px;
}
.pape_underline {
	text-decoration: underline;
}
	/*class créées depuis éléments*/
.pape_metamark {
	font-size: 45pt;
}
.pape_expan {
	font-style: italic;
	/*color: #771919!important;*/
}
.pape_note {
	font-size: 24pt !important;
}
.pape_note .pape_expan {
	font-size: 24pt !important;
}

/*POUR LA TRANSCRIPTION "normale"*/
/*Pour la selection des transcriptions*/
article.fac_selector {
	display: flex;
	flex-wrap: wrap;
}
div.fac_selector {
	margin: 30px 40px 0px 0px;
	/*width: 300px;
	height: 200px; pour avoir titre à côté pas par-dessus*/
	height: fit-content;/*version par-dessus*/
	position: relative;/*version par-dessus*/
	/*display: flex;*/
}/*
div.fac_selector:hover {
	background-color: #efac18;
}*/
.fac_selector_overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(31, 15, 126, 0.80);
	color: #efe9e3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0.2s;
	backdrop-filter: blur(5px);
}
.fac_selector_overlay > * {
	transform: translateY(20px);
	transition: transform 0.3s;
}
.fac_selector_overlay:hover{
	opacity: 1;
}
.fac_selector_overlay:hover > *{
	transform: translateY(0);
}
div.fac_selector h6{
	/*margin: 10px; vrsion sur le côté*/
	/*position: absolute;/*version par-dessus*/
	/*margin: 0;/*version par-dessus*/
	/*top: 50%;/*version par-dessus*/
	/*left: 50%;/*version par-dessus*/
	/*transform: translate(-50%, -50%);/*version par-dessus*/
	font-size: 16pt;
	/*transition: 0.2s ease-out;*/
/*	display: none;/*version opacity*/
}
div.fac_selector:hover h6{
	display: block;/*version opacity*/
}
div.fac_selector img {
	/*height: 150px;/*version côté*/
	height: 200px;/*version par-dessus*/
	box-shadow: 1px 3px 7px #0a1515;
	transition: 0.2s ease-out;
	/*opacity: 0.3;/*version opacity*/
	display: block;
}
div.fac_selector img:hover {
	/*height: 200px; /*pour la version qui s'aggrandit*/
	/*opacity: 1;*/
}
/*PAGES TRANSCRIPTIONS INDDIVIDUELLES*/
section.page_nav{/*les boutons de navigations entres les pages*/
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}
img.page_nav {/*les boutons de navigations entres les pages*/
	width: 40px;
	filter: invert(100%);
	background-color: #e0f081;/*devient bleu avec filter*/
	margin: 20px 0px;

}
.left {/*les boutons de navigations entres les pages*/
	-webkit-transform:rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}
.right {/*les boutons de navigations entres les pages*/
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
h2.page {
	font-size: 20pt;
	border: none;
	margin-bottom: 0;
	font-variant: normal;
	color: #1f0f7e;
}
/*div.t_nav button{
	float: right;
/*	background-color: #fcead4;
	background: none;
	border-radius: 10px;
	border-right: 2px solid #0a1515;
	border-bottom: 2px solid #0a1515;
	border-top: none;
	border-left: none;
	font-family: inherit;
	font-size: inherit;
	transition: 0.3s;
}
div.t_nav button:hover{
	cursor: pointer;
	border-color: #efac18;
	color: #efac18;
}
div.t_nav button a {
	color: inherit;
}
div.t_nav button a:hover{
	text-decoration: none;
}*/
button.t_nav {/*sélecteur reppol/calendar*/
	width: 50%;
	background: #efe9e3;
	border: 0.5px solid #1f0f7e;
	height: 40px;
	position: sticky;
	top: 0;
	z-index: 99;
}
button.t_nav:hover {/*sélecteur reppol/calendar*/
	cursor: pointer;
}
button.active {/*sélecteur reppol/calendar*/
	background-color: #1f0f7e;
	color: #efe9e3;
}

article.transcription {
	margin-left: 3%;
	margin-right: 3%;
	color: #000;
	/*height: fit-content;*/ /*ATTENTION supprimé pour body{overflow: nope}*/
	scrollbar-color: #1f0f7e #efe9e3;/*might not always work*/
	scrollbar-width: thin;
}
div.facs {
	width: 46%;
	/*border: 2px solid black;*/
}
img.facspage{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	/*width: 45%;*/
}
.transcript{
	width: 100%;
	height: 1000px;
	overflow: hidden;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-around;
}
div#facspage {
	width: 40%;
	border: 1px solid #1f0f7e;
	overflow: hidden;
}
/*Don't use this :
img {
	width: 100%;
}*/
div#text{
	width: 40%;
	/*float: left;
	/*padding-top: 30px ;*/
	border: 1px solid #1f0f7e;
	overflow: auto;
	scrollbar-width: thin;
	font-weight: 400;
	font-size: 14pt;
	/*padding: 30px 20px 0px 10px;
	min-height: 100px;
	max-height: 950px;*/
}
#calendar {
	display: none;
}
/*collection section sous-section*/
div.collection {
	/*border: 2px solid red;*/
}
div.answer_set {
	/*border: 2px solid green;*/
}
div {
	/*border: 2px solid orange;*/
}
/*div pour notes et p*/
div.display_unit {
	width: 80%;/*unsure about 80 or 90 %*/
	display: table-row;/*empêche le bon affichage de "whole_width" et n'est apparemment pas nécessaire pour le reste des affichages */
/*	border-collapse: collapse;
	border: 2px solid black;*/
}
div.whole_width{
	/*width: 100%;*/
	margin: 0 0 0 20px;
}
div.margin_left{
	width: 15%;
	vertical-align: top;
	display: table-cell;
	/*padding-left: 20px;*/
	text-align: center;
	padding: 10px 0 0 20px;/*pour un meilleur rendu plus proche du texte*/
}
div.main {
	width: 30%;
	vertical-align: top;
	display: table-cell;
	text-align: justify;
	padding: 0px 20px 0 10px;/*pour un meilleur rendu plus proche du texte*/
}
div.main_left{
	width: 40%;
	vertical-align: top;
	display: table-cell;
	text-align: justify;
	padding: 0 0 0 10px;/*pour un meilleur rendu plus proche du texte*/

}
div.main_right{
	width: 40%;
	vertical-align: top;
	display: table-cell;
	text-align: justify;
	padding: 0 10px 0 0;/*pour un meilleur rendu plus proche du texte*/
}
div.vertical {
	float: left;
	padding:0 ;
}
div#text p{
	text-indent: 0px !important;
	margin-top: 5px;
	margin-bottom: 5px;
}
/*Les titres*/
p.head {
	text-align: center;
	font-size: 14pt;
	margin-bottom: 5px!important;
	margin-top: 5px!important;
}
p.margin_left {
	text-align: left!important;
	/*margin-left: 20px;*/ /*retiré : 13/06*/
}
/*liste*/
p.head_list {
	text-align: center;
	font-size: 14pt!important;
}
ul {
	margin: 0;
	list-style: none;
	text-align: justify;
	width: fit-content;/*sert à l'affichage des accolades en backgrounds correctement*/
	padding-right: 15px;/*sert à l'affichage des accolades en backgrounds correctement*/
	padding-left: 20px;
}
li {
	margin: 0;
}
/*Les différentes paginations*/
.red {
	color: #932311;
	margin: 0!important;
	float: left;/*au sein d'un élément qui float right (donc allant vers la droite), ira vers la gauche*/
}
.black {
	color: #0a1515;
	margin: 0!important;
	float: left;/*au sein d'un élément qui float right (donc allant vers la droite), ira vers la gauche*/
					/*permet d'aligner les numéros de page*/
}
.gray {
	color: #666;
	margin: 0!important;
	float: left;/*au sein d'un élément qui float right (donc allant vers la droite), ira vers la gauche*/
					/*permet d'aligner les numéros de page*/
}
/*les éléments de niveau sub-paragraph*/
.strikethrough {
	text-decoration: line-through;
}
.overstrike{
	position: relative;/*nécessaire pour bon affichage de la croix*/
	display: block;/*nécessaire pour bon affichage de la croix*/
}
.overstrike:before, .overstrike:after{/*la croix est en fait constituée de deux blocks before et after créé par pure css, qui sont rotate pour imiter une croix*/
	position: absolute;
    content: '';
    background: #0a1515c9;/*couleur de la police + alpha*/
    display: block;
    width: 60%;
    height: 1.5px;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
    margin: auto;
}
.overstrike:after {
	-webkit-transform: rotate(20deg);  
	transform: rotate(20deg);
}
.above {
	position: relative;
	bottom: 6px;
}
.below {
	position: relative;
	top: 6px;
}
.underline {
	text-decoration: underline;
}
	/*class créées depuis éléments*/
.metamark {
	font-size: 14pt;
}
.expan {
	font-style: italic;
	/*color: #771919 !important;*/
}
.note {
	margin-top: 10px;
	/*margin-left: 30px;*/ /*retiré : 13/06*/
	text-align: center;
}
.vertical_bottom-top {
	transform: rotate(180deg);
	writing-mode: tb-rl;
}
.vertical_top-bottom {
	writing-mode: tb-rl;
}
.persName {
	/*color: #456456;*/
}
.placeName {
	/*color: #4ff;*/
}
.roleName {
	/*color: #f44;*/
}
/*affichagede bracket où il faut de la taille qu'il faut*/
.bracket {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5b/Accolade_fermante.png");/*Vieux têtard, CC BY-SA 3.0 <https://creativecommons.org/licenses/by-sa/3.0>, via Wikimedia Commons*/
	background-position: 100% 0%;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
.metafloat_list {
	display: table-row;
}
.metafloat {
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}